services:
  app:
    build:
      context: .
      dockerfile: Dockerfile

    volumes:
      # Workspace (Windows or WSL mount)
      - ../..:/workspaces:cachednp

      # Media directory (Docker volume, Linux ext4 inside Docker)
      # - media:/media

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
    network_mode: service:postgres

  postgres:
    image: postgres:latest
    container_name: postgresdb
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    networks:
      - postgres-compose-network
      
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: xpto@domain.com
      PGADMIN_DEFAULT_PASSWORD: postgres
    ports:
      - "8080:80"
    depends_on:
      - postgres
    networks:
      - postgres-compose-network

volumes:
  postgres-data:
  # media:

networks: 
  postgres-compose-network:
    driver: bridge